.newTask {
    width: 736px;
    height: 54px;
    margin-top: -27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newTask button {
    width: 90px;
    height: 54px;
    border-radius: 8px;
    background-color: var(--blue-dark);
    border: 0;
    color: var(--gray-100);
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.newTask button:hover {
    background-color: var(--blue);
}

.newTask input {
    width: 39.88rem;
    height: 3.25rem;
    border-radius: 8px;
    background: var(--gray-500);
    color: var(--gray-300);
    font-size: 1rem;
    border: 0;
    padding: 1rem;
    line-height: 1.4;
    border: 1px solid var(--gray-700);
}

.newTask input:focus {
    border: 1px solid var(--purple-dark);
}